* {
	font-family:  Open Sans;
	box-sizing:  border-box;
}

body {
	padding: 0;
	margin: 0;
}


.nav-logo img {
    width: 100%;
}

section {padding:20px}

section,
nav ul {
		max-width: 1000px;
	margin-inline: auto;
}

nav {
	position: sticky;
width: 100%;
 padding: 15px;
 top: 0;
    background-color: #fff;
}

nav ul {
	list-style: none;
	justify-content:  space-between;
		align-items: center;
	padding: 0;
}

nav li {
    padding: 10px;
    display: flex;
    align-items: center;
}

.right-nav,
nav ul {
display: flex;
}

.nav-logo {width: 15%}

.right-nav {
	width:  85%;
	justify-content: flex-end;
}


button {
	background-color: #c2195b;
	color: #fff;
border-radius:  100px;
border: none;
    padding: 8px 20px;
}


.front-bg .container {
    width: 50%;
    text-align: right;
}
.front-bg {
    display: flex;
    justify-content: flex-end;
    padding: 40px 10%;
    background-image:  url(https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80);
background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.front-bg h2 {
    font-size: 14px;
        text-align: right;
}

h1, h2 {
    font-family: serif;
}

h2 {

	text-align: center;
}
p {
    padding: 0 10%;
}

section.pre-footer {
    background-color: #f7fbfc;
    padding: 40px 40px 80px;
}

section.pre-footer button {
    margin-inline: auto;
    background-color: #346488;
    display: flex;
}
footer {
    text-align: center;
    padding: 10px;
}

section#bg-image {
    border-top: 1px solid #aeaeae;
}
section.intro {
    padding: 20px 20px 40px;
}

